body {
  background-color: #000000;
  font-family: "Helvetica", sans-serif;
}

/* ------------- Word Grid ------------- */

.words {
  height: 75%;
  width: 100%
}

word {
  width: 100%;
  display: block;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

letter {
  display: inline-block;
  color: #ffffff;
  font-size: 24pt;
  border: 1px solid white;
  width: 15%;
  max-width: 40px;
/*   height: 40px; */
  padding: 5px;
  text-align: center;
  margin: 3px;
  background: #000000;
}

/* ------------- Toasts ------------- */

.toasts {
  width: 200px;
  left: 50%;
  top: 15px;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, 0);
}

.toast {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

/* ------------- Keyboard ------------- */

.keyboard {
  color: #ffffff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

row {
  margin: auto;
  display: block;
  margin-top: 8px;
}

key {
  background: #767879;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 28px;
  margin: 0px 1px;
}

/* ------------- Stats ------------- */

.stats {
  background: #121213;
  width:75%;
  max-width: 550px;
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translate(-50%, 0);
  padding: 40px;
  border-radius: 10px;
  color: #ffffff;
}

.playCount {
  margin: auto;
  padding: 5px;
  display: inline-block;
}

.distro {
  background: #3A3A3C;
  min-width: 20px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-top: 3px;
}

#share {
  color: #ffffff;
  background: #558C51;
  width: 100px;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

#newGame {
  color: #ffffff;
  background: #B59E44;
  width: 100px;
  padding: 20px;
  text-align: center;
  float:right;
  display: inline-block;
}

.gameStatus {
  text-align: center;
}

#close {
  color: #3A3A3C;
}

#close:hover {
  color: #7A7A7A;
}


/* ------------- Colors ------------- */

.incorrect {
  background: #3A3A3C;
}

.partial {
  background: #B59E44;
}

.perfect {
  background: #558C51;
}